@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins, sans-serif);
}

body[data-scroll-locked][data-scroll-locked] {
  overflow-y: auto !important;
}

@layer base {
  :root {
    --background: 210 100% 95%;
    --foreground: 210 5% 0%;
    --card: 210 50% 90%;
    --card-foreground: 210 5% 10%;
    --popover: 210 100% 95%;
    --popover-foreground: 210 100% 0%;
    --primary: 210 40% 98%;
    --primary-foreground: 0 0% 0%;
    --secondary: 210 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 172 30% 85%;
    --muted-foreground: 210 5% 35%;
    --accent: 172 30% 80%;
    --accent-foreground: 210 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 210 5% 90%;
    --border: 210 30% 50%;
    --input: 210 30% 18%;
    --ring: 210 40% 98%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 50% 5%;
    --foreground: 210 5% 90%;
    --card: 210 50% 0%;
    --card-foreground: 210 5% 90%;
    --popover: 210 50% 5%;
    --popover-foreground: 210 5% 90%;
    --primary: 210 40% 98%;
    --primary-foreground: 0 0% 0%;
    --secondary: 210 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 172 30% 15%;
    --muted-foreground: 210 5% 60%;
    --accent: 172 30% 15%;
    --accent-foreground: 210 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 210 5% 90%;
    --border: 210 30% 18%;
    --input: 210 30% 18%;
    --ring: 210 40% 98%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Styles for md-editor */

svg.md-editor-icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
  color: var(--md-color) !important;
}

.md-editor {
  /* Default light theme for md-editor */
  --md-bk-color: none !important;
  --md-color: #000000 !important;
  --md-menu-bg: white !important;
  --md-border-color: hsl(210, 30%, 50%) !important;
}

.md-editor-dark {
  /* Dark theme for md-editor */
  --md-bk-color: none !important;
  --md-color: #ffffff !important; /* White text for dark mode */
  --md-menu-bg: #333 !important; /* Dark background for menu */
  --md-border-color: hsl(210, 30%, 18%) !important;
}

.md-editor-menu {
  background-color: var(--md-menu-bg) !important;
  border-color: var(--md-border-color) !important;
}

.md-editor-toolbar-wrapper {
  border: 1px hsl(var(--input)) solid !important;
}

#preview_only-preview {
  word-break: break-word !important; /* Ensures long words wrap properly */
}
